@tailwind base;
@tailwind components;
@tailwind utilities;


/* Web3 Ui Kit - Connect Button*/




.iVxBbz /*Button Background*/
{
    background: rgb(241, 241, 241)!important;
    padding-left: 0;
}


.hULrqk /*Button Text*/
{
    color: rgb(34, 34, 34)!important;
       
}

#butao
{
    margin-left: -20px;
}

.nav-link
{
    font-weight: 600!important;
}

.navbar{
    background-color:#1F1F1F!important;
}

.form-control{
    background-color:#1F1F1F!important;
}

element.style{
    padding-left: 10px;

}


#offcanvasNavbar-expand-md{

     background-color: #212529; 
}

#nav{

    color:aliceblue;
}



#Maintext{
    font-style: normal;
    font-weight: 600;

    line-height: 64px;
    text-align: center;

    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#FeatImage{
    
    border: 3px solid;

    border-image-source: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
    border-radius: 30px;
    

}

#module-border-wrap {
    
    position: relative;
    background: linear-gradient(to right, #BAF9F8, #E6AAF7);
    padding: 10px;
    border-radius: 30px;
        
}


#GetRewardsIndividualButton {
    position: relative;
    /* display: flex; */
    line-height: 1;
    text-decoration: none;

    padding: 20px 100px 25px 100px;
    text-align: center;

    font-size: 34px;
    font-weight: 600;

    border-radius: 50px;
}

#GetRewardsIndividualButton::before {
    
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    border: 3px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

/*Linear grading border from INDIVIDUAL CONTEST PAGE*/
.linearBorder{
    position: relative;
    border-radius: 20px;
    line-height: 1;
}

.linearBorder::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

.linearBorder:hover{
    background-color: rgb(31, 31, 31);
}


/*Artists Cards from INDIVIDUAL CONTEST PAGE*/
.profileImg{
    border-radius:50%;
}

.center-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#module {
    background: #222;
    color: white;
    padding: rem;
    border-radius: 30px;
    }
    
    .center-img > div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    
    .center-img > div > img {
        width: 100%;
    }

/*voting progress bar from INDIVIDUAL CONTEST PAGE*/

    /* progress bar color*/
  .bg-COLOR{
    /* background-color: #DCDDDE!important; */
    background-color: #E1A3F3!important;
  }
  /* progress bar background color*/
  .progress{
    /* background-color: #1D1D1D!important; */
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
 
#legenda{
    position: absolute;
    bottom: 1px;
    text-align: center; 
    box-shadow: inset 0px -46px 44px rgba(199, 10, 128, 0.25);  
}


#imgcont{   
    box-shadow: inset 0px -20px 20px rgba(199, 10, 128, 0.25);
}

#img1{
    z-index: 1;
}





.popup-content {
    margin: auto;
    background: #1F1F1F!important;
    border-color: #1F1F1F!important;
    width: 50%;
    
    padding: 5px;
    position: relative;
    border-radius: 20px;
    line-height: 1;
  }

  .popup-content::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }



  

  .popup-arrow {
    stroke: #1F1F1F!important;
    color: #1F1F1F!important;
  }

  
  [role='tooltip'].popup-content {
    width: 200px;
  }
  
  .popup-overlay {
    background: #1F1F1F
  }

  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  [role="tooltip"].popup-content {
    width: 80%!important;
    top: 60%!important;
  }

  [data-popup="tooltip"].popup-overlay {
    background: #000000cf!important;
  }

  #popup-2{
    top: 10%!important;
    left: 100%!important;
  }

#linearBorder{
position: relative;
border-radius: 20px;
    line-height: 1;
}

#linearBorder::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

#module-border-wrap2 {

    position: relative;
    background: linear-gradient(to right, #BAF9F8, #E6AAF7);
    padding: 1px;
    border-radius: 30px;

}

select:focus{
   outline: none!important;
}