@tailwind base;
@tailwind components;
@tailwind utilities;


/* Web3 Ui Kit - Connect Button*/




.iVxBbz /*Button Background*/
{
    background: rgb(241, 241, 241)!important;
    padding-left: 0;
}


.hULrqk /*Button Text*/
{
    color: rgb(34, 34, 34)!important;
       
}

#butao
{
    margin-left: -20px;
}

.nav-link
{
    font-weight: 600!important;
}


.form-control
{
    background-color: #212529!important;
}


element.style{
    padding-left: 10px;

}


#offcanvasNavbar-expand-md{

     background-color: #212529; 
}

#nav{

    color:aliceblue;
}


#Maintext{

    font-style: normal;
    font-weight: 600;

    line-height: 64px;
    text-align: center;

    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#FeatImage{
    
    border: 3px solid;

    border-image-source: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
    border-radius: 30px;
    

}

#module-border-wrap {
    
    position: relative;
    background: linear-gradient(to right, #BAF9F8, #E6AAF7);
    padding: 3px;
    border-radius: 30px;
        
}

#module {
    background: #222;
    color: white;
    padding: rem;
    border-radius: 30px;
}


#GetRewardsIndividualButton {
    position: relative;
    /* display: flex; */
    line-height: 1;
    text-decoration: none;

    padding: 20px 100px 25px 100px;
    text-align: center;

    font-size: 34px;
    font-weight: 600;

    border-radius: 50px;
}

#GetRewardsIndividualButton::before {
    
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    border: 3px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

.linearBorder{
    position: relative;
    border-radius: 20px;
    line-height: 1;
}

.linearBorder::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

.linearBorder:hover{
    background-color: rgb(31, 31, 31);
}


.profileImg{
    border-radius:50%;
}
  
.center-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-img > div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  .center-img > div > img {
    width: 100%;
  }


  