@tailwind base;
@tailwind components;
@tailwind utilities;


/* Web3 Ui Kit - Connect Button*/




.iVxBbz /*Button Background*/
{
    background: rgb(241, 241, 241)!important;
    padding-left: 0;
}


.hULrqk /*Button Text*/
{
    color: rgb(34, 34, 34)!important;
    
    
}

#butao
{
    margin-left: -20px;
}

.nav-link
{
    font-weight: 600!important;
}



.form-control
{
 background-color: #212529!important;
}


element.style{
    padding-left: 10px;

}


#offcanvasNavbar-expand-md{


     background-color: #212529; 
}

#nav{

    color:aliceblue;
}


#Maintext{

    font-style: normal;
font-weight: 600;

text-align: center;

background: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

#FeatImage{
    
  
    
    
    
    border: 3px solid;
    

    border-image-source: linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);

    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, #BAF9F8 0%, #E6AAF7 100%);
    border-radius: 30px;
    

}

#module-border-wrap {
    
    
    position: relative;
    background: linear-gradient(to right, #BAF9F8, #E6AAF7);
    padding: 10px;
    border-radius: 30px;
    
    
  }
  
  #module {
    background: #222;
    color: white;
    padding: rem;
    border-radius: 30px;
    
    
  }


  .container {
    position: relative;
    text-align: center;
    color: white;
    
    
  }
 
#legenda{

    position: absolute;
    bottom: 1px;
    text-align: center;
    
    box-shadow: inset 0px -46px 44px rgba(199, 10, 128, 0.25);
    
}


#imgcont{

    
    box-shadow: inset 0px -20px 20px rgba(199, 10, 128, 0.25);
    
    
}


#img1{
    
    z-index: 1;
}