
/* Web3 Ui Kit - Connect Button*/

.iVxBbz /*Button Background*/
{
    background: rgb(241, 241, 241)!important;
}


.hULrqk /*Button Text*/
{
    color: rgb(34, 34, 34)!important;
}

.nav-link
{
    font-weight: 600!important;
}



.form-control
{
 background-color: #212529!important;
}

